<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sistema Biblioteca - Historial</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">
    <h1>Historial de Préstamos</h1>

    <table>
      <thead>
        <tr>
          <th>Título</th>
          <th>Autor</th>
          <th>Editorial</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody id="historialTable">

      </tbody>
    </table>

    <a href="catalogo.html">⬅Volver al catálogo</a>
  </div>

  <script src="script.js"></script>
</body>
</html>
